# yazi.toml
[mgr]
show_hidden = true


[opener]
edit = [{ run = 'nvim "$@"', desc = "Edit with Neovim", block = true }]

[open]
rules = [
  { mime = "text/*", use = "edit" },
  { mime = "application/json", use = "edit" },
  { name = "*", use = "edit" },
]
