
#window {
    margin: 0px;
    border-radius: 18px;
    background-color: rgba(30, 30, 30, 0.5); /* dark background */
    color: #e0e0e0; /* light text color */
}

#input {
    margin: 10px;
    background-color: rgba(60, 60, 60, 0.7); /* semi-transparent input background */
    color: #e0e0e0; /* text color */
    border-radius: 25px;
    border: 0px solid #83a598; /* optional border color */
}

#scroll {
    margin-bottom: 15px;
}

#entry {
    margin: 0px 10px;
}

#entry:selected {
    background-color: rgba(220, 50, 50, 1.0); /* red highlight */
    color: #1e1e1e; /* dark text on highlight */
    border-radius: 10px;
    border: none;
    outline: none;
}

#entry > box {
    margin-left: 16px;
}

#entry image {
    padding-right: 10px;
}

